#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #444;
    line-height: 948px;
}
div,
body,
#app2,
#app {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body,
#app2,
#app {
    width: 1920px;
    height: 950px;
    margin: 0;
    padding: 0;
}

button {
    width: 220px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 10;
}
.frame {
    width: 927px;
    height: 354px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    > div {
        display: none;
    }

    &.overlay-active {
        margin: auto;
        overflow: hidden;
        border-radius: 25px;
        border: 5px solid #fff;

        div {
            display: inline-table;
            word-break: break-word;
            color: white;
            text-shadow: 1px 1px 3px black;
            vertical-align: middle;

            span {
                display: table-cell;
                vertical-align: middle;
            }
        }

        > div {
            border-radius: 20px;
            border: 10px solid #000;
            width: 100%;
            height: 100%;

            > div {
                width: 100%;

                &.title {
                    padding: 0 10%;
                    text-transform: uppercase;
                    line-height: .85em;
                    height: 124px;
                    font-size: 2.4em;
                    font-weight: bold;
                    letter-spacing: -3px;

                    > div {
                        width: 33.33%;
                        height: 100%;
                        border-bottom: 0;
                    }
                }

                &.date {
                    height: 20%;
                    text-shadow: none;
                    color: black;
                    height: 77px;
                    font-size: 1.55em;
                    letter-spacing: -1.2px;
                    border-top: 8px solid #000;
                    border-bottom: 8px solid #000;
                    background-color: white;
                }

                &.flex {
                    height: 124px;
                    display: flex;

                    div {
                        height: 100%;
                        padding: 0 32px;
                        font-size: 2.4em;
                        font-weight: bold;
                        letter-spacing: -2px;
                        line-height: .8em;

                        &.first-item {
                            text-align: left;
                        }
                        &.last-item {
                            text-align: right;
                        }
                    }

                    > div {
                        flex-basis: 100%;

                        &.border-right {
                            border-right: 7px solid #000;
                        }
                    }
                }
            }
        }

    }
}